.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: aliceblue;
    margin-bottom: 2em;
    flex: 0 1 24%;
}

.card-content p {
    font-size: 80%;
    color: darkslategrey;
    margin: 0em;
}

.content-petname {
    color: darkslategrey;
}

.card button {
    padding: 0.5em;
    margin: 0.1em;
    width: 100%;
}

.card button:hover {
    background-color: darkblue;
}
*/ h3 {
    font-size: 15px !important;
}

a {
    text-decoration: none;
}

@media all and (min-width: 40em) {
    .locationCard {
        width: 50%;
    }
}
@media all and (min-width: 60em) {
    .locationCard {
        width: 33.33%;
    }
}

.locationCard {
    max-width: 345px;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}

.locationCardMedia {
    height: 140px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cardContent {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 0.5em 1em 0em 1em !important;
}

.cardContent > p {
    flex: 1 0 auto;
    margin: 0em;
}

.cardContent h3 {
    margin-top: 0;
    margin-bottom: 0em;
    font-weight: bold;
    color: rgb(45, 49, 58);
    padding: 0em;
}

.cardActionArea {
    display: flex !important;
    text-align: inherit !important;
    justify-content: space-between !important;
    align-items: inherit !important;
    flex-grow: 1 !important;
    flex-direction: column !important;
}

.cardButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.MuiCardActions-root .MuiButtonBase-root:hover {
    background-color: rgb(117, 61, 61);
    color: rgb(255, 255, 255);
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.addViewRow {
    display: flex;
    justify-content: flex-end;
}

.tableIcons {
    display: flex;
    justify-content: space-evenly;
}

.editDeleteIcons {
    text-align: right !important;
}

.modalContainer {
    margin: 0;
    min-width: 500px;
}

h3 {
    font-size: 30px;
}

.tableWrapper {
    padding: 0em 8em 0em 8em;
}

.MuiTableCell-stickyHeader {
    background-color: rgb(117, 61, 61) !important;
    color: white !important;
}

.MuiTableCell-root {
    padding: 10px !important;
}

.MuiTableCell-root .MuiButtonBase-root:hover {
    background-color: rgba(117, 61, 61, 0.438);
}

.MuiTableCell-root .MuiFormGroup-root {
    justify-content: flex-end !important;
}

.iconCell {
    width: 175px;
}

.imageCell {
    width: 150px;
}

.switchCell {
    width: 100px;
}

.activeText {
    padding-right: 2.2em !important;
}

.locationNameCell {
    font-weight: bolder !important;
    font-size: large !important;
    margin-top: 2px !important;
}
